# Object and binary files
*.o
*.elf
*.hex
*.bin
*.map
*.lst

# Build folders
build/
Debug/
Release/
.build/
.launch

# STM32CubeIDE
*.launch
#*.ioc
*.log
*.bak
*.dep

# System files
.DS_Store
Thumbs.db

# Backup and temp files
*~
*.swp
*.swo
